@import "tailwindcss";
*{
 box-sizing: border-box;
}

.author-date{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.delete{
 color:red;
 cursor:pointer;
 position: absolute;
 top: 2px;
 right:2px; 
 padding: 0px;
}



